<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách danh mục</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <header class="container">
            <div class="row">
                <div class="col-2">
                    <a href="#">
                        <img src="https://fpt.edu.vn/Content/images/assets/Poly.png" 
                            class="img-fluid">
                    </a>
                </div>
                <div class="col-10">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item ">
                              <a class="nav-link" href="#">Hãng xe <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Dòng xe</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>
        </header>
        <main class="container">
            <h4>Tạo mới hãng xe</h4>
            <!-- để gửi file từ form lên server thì yêu cầu bắt buộc
                1. method phải là dạng post
                2. phải có thuộc tính enctype="multipart/form-data"
            -->
            <form action="/brands/create-save" 
                onsubmit="return validateForm()"
                method="post" enctype="multipart/form-data">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="">Tên hãng</label>
                        <input type="text" name="name" 
                            class="form-control"
                            placeholder="Nhập tên hãng">
                        <span id="name-err" class="validate-err text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="">Logo</label>
                        <input type="file" name="logo" 
                            class="form-control"
                            placeholder="Nhập đường dẫn ảnh">
                        <span id="logo-err" class="validate-err text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-sm" 
                            type="submit">Lưu</button>
                        &nbsp;
                        <a href="/brands" 
                            class="btn btn-sm btn-danger">Hủy</a>
                    </div>
                </div>
            </form>
        </main>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function validateForm(){
            // validate data
            let isValid = true;
            $('.validate-err ').text("");
            // kiểm tra từng thành phần, nếu thiếu thành phần nào thì isValid => false
            let name = $('[name="name"]').val();
            if(name.length < 4){
                $('#name-err').after("Hãy nhập tên hãng");
                isValid = false;
            }

            if($('[name="logo"]').get(0).files.length === 0){
                $('#logo-err').text("Hãy chọn file logo");
                isValid = false;
            }else if(checkfileImageType(`[name="logo"]`) == false){
                $('#logo-err').text("Hãy kiểm tra đúng định dạng ảnh (gif|jpg|png)");
                isValid = false;
            }
            return isValid;
        }

        function checkfileImageType(selector){
            var val = $(selector).val();
            switch(val.substring(val.lastIndexOf('.') + 1).toLowerCase()){
                case 'gif': case 'jpg': case 'png':
                    return true;
                    break;
                default:
                    return false;
                    break;
            }
        }
    </script>
</body>
</html>